# LLM
OPENAI_API_KEY = 
OPENAI_MODEL = 

# Pinecone
PINECONE_API_KEY = 
PINECONE_INDEX_NAME = 

# Oracle FreeSQL / Oracle DB
ORACLE_USER=
ORACLE_PASSWORD=
ORACLE_DSN=

# MCP
MCP_ORACLE_SERVER_URL=

# LANGSMITH
LANGSMITH_TRACING = 
LANGSMITH_ENDPOINT = 
LANGSMITH_API_KEY= 
LANGSMITH_PROJECT = 

